/***Index***/
:root {
    font-family: 'Bebas Neue', cursive;
}

body {

    background-image: url('../img/fondos/gym-index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;

}

.nav-link {
    color: white;
    font-size: large;
}   

.nav-link:hover {
    color: yellowgreen;
}   

.navbar-toggler {
    background-color: yellowgreen;
}

.navbar-brand {
    background-color: white;
    border-radius: 50%;
    border-width: 25px;
    border-style: hidden;
    border-color: yellowgreen;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comenzar {
    background-color: yellowgreen;
    color: white;
    border-radius: 2px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.break {
    height: 14rem;
    background-color: white;
    color: black;
    font-size: x-large;
    text-align: center;
    
}

#footer-icons a{
    color: gray;
    opacity: .4;
}

#footer-icons a:hover{
    color: yellowgreen;
    opacity: 1;

}

#btn-asociate {
    display: flex;
    justify-content:center;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

#btn-asociate:hover {
    background-color: yellow;
    border-color: yellow;
}

@media (max-width: 765px) {

    .nav-link:hover {
        background-color: rgb(204, 240, 204);
        border-radius: .3rem;
        color: black;

    }

    #navbarNavDropdown {
        border-radius: .3rem;
        background-color: yellowgreen;
    }

    .nav-link {
        background-color: yellowgreen;
        border-radius: .3rem;
        color: white;
        text-align: center;
        text-decoration: dotted;
    }

}