/***Index***/
:root {
    font-family: 'Bebas Neue', cursive;
    --link-alpha-color: rgba(150, 150, 150, 0.85);
}


* {
    box-sizing: border-box;
}

body {

    background-image: url('../img/fondos/gym-index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
}

.box-hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

main {
    overflow-x: hidden;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .85;

}

.box-img-banner img {
    min-width: 100%;
    max-width: 1rem;
}


.btn {
    max-width: 15rem;
}



.sarazaa {
    backdrop-filter: blur(3rem);
    border-radius: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;


}

.nav-link {
    color: white;
    font-size: large;

}

.nav-link:hover {
    color: black;
}

.navbar-toggler {
    background-color: yellowgreen;
}

.navbar-brand {
    background-color: white;
    border-radius: 50%;
    border-width: 25px;
    border-style: hidden;
    border-color: yellowgreen;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comenzar {
    background-color: yellowgreen;
    color: white;
    border-radius: 2px;
    padding-left: 1rem;
    padding-right: 1rem;

}

.break {
    height: 14rem;
    background-color: white;
    color: black;
    font-size: x-large;
    text-align: center;

}

#footer-icons a {
    color: gray;
    opacity: .4;
}

#footer-icons a:hover {
    color: yellowgreen;
    opacity: 1;

}

.formulario {
    box-shadow: 0 0 2px white,
        0 0 50px whitesmoke;
}



#btn-asociate {
    box-shadow: 0 0 2px rgb(179, 222, 94),
        0 0 10px rgb(179, 222, 94);
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(204, 247, 78);
    opacity: .8;

    border-width: 0;
}

#btn-asociate:hover {
    box-shadow: 0 0 15px yellowgreen,
        0 0 25px yellowgreen, 0 0 50px yellowgreen  ;
    background-color: yellowgreen;
    opacity: 1;

    /*background-color: transparent;
    */

    color: rgb(227, 234, 227);
}

.lista-beneficios {
    list-style: none;
}

.lista-beneficios i {
    color: blueviolet;
}

.lista-beneficios i:hover {
    color: red;
}


@media (max-width: 765px) {

    .nav-link:hover {
        background-color: rgb(204, 240, 204);
        border-radius: .3rem;
        color: black;

    }

    #navbarNavDropdown {
        border-radius: .3rem;
        background-color: yellowgreen;
    }

    .nav-link {
        background-color: yellowgreen;
        border-radius: .3rem;
        color: white;
        text-align: center;
        text-decoration: dotted;
    }

}



